{% include 'managers/base.html' %}
{% load static %}

{%block content%}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Comments Table</h6>
    </div>
    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Album Name</th>
                        <th>Artist Name</th>
                        <th>Users Name</th>
                        <th>Users Surname</th>
                        <th>Date Added</th>
                        <th>Comment</th>
                        <th>Approval</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Album Name</th>
                        <th>Artist Name</th>
                        <th>Users Name</th>
                        <th>Users Surname</th>
                        <th>Date Added</th>
                        <th>Comment</th>
                        <th>Approval</th>
                    </tr>
                </tfoot>

                {% for comment in comments %}
                <tbody>
                    
                    <tr>
                        <td>{{comment.product.artist_name}}</td>
                        <td>{{comment.product.album_name}}</td>
                        <td>{{comment.user.first_name}}</td>
                        <td>{{comment.user.last_name}}</td>
                        <td>{{comment.date_added}}</td>
                        <td>{{comment.body}}</td>
                        {% if comment.approval == 2 %}
                        <td>Approved</td>
                        {% elif comment.approval == 3 %}
                        <td>Disapproved</td>
                        {% else %}
                        <td>Pending</td>
                        <td><a class="btn btn-sm btn-primary" href="{% url 'approve-comment' comment.id %}">Approve</a></td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'disapprove-comment' comment.id %}">Disapprove</a></td>
                        {%endif%}
                        
                    

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%endblock content %}