{% extends 'store/main.html' %}
{% load static %}
{% block content %}
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<div class = "hidden" id = "not-loggedin">
						
					<img alt= "icon" class="img-fluid " src="{% static 'images/duck.jpeg' %}">
			<hr style="background-color:orange;height: 2px">
			<div class="justify-content-center">
				<div class="d-flex justify-content-center">
					 <p>Sign Up or Log in </p>
				</div> 
				<div class=" d-flex justify-content-center">
					   <a href="/register" class="btn btn-warning" role="button" aria-pressed="true">Sign up</a>
					   &nbsp
					 <a href="/login" class="btn btn-warning" role="button" aria-pressed="true">Log In </a>
				 </div>
				   <hr style="background-color:orange;height: 2px">
				 <div class="d-flex justify-content-center">
					 <button href="#" type="button" class="btn btn-warning">Forgot my Password</button>
				 </div>
			
			</div>
				</div>
				<form id="form">
					
					<div id="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Country..">
						</div>
					</div>

					<hr>
					
					
					<input id="form-button" class="btn btn-warning btn-block" type="submit" value="Continue">

					<div class = "hidden" id="billing-info">
						
						<small>Billing Information:</small>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="CardNo" placeholder="Card No">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="ownerName" placeholder="Name, Surname">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="CVV" placeholder="CVV">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="ExpirationDate" placeholder="DD/MM/YY">
						</div>
						<hr>
						<input id="make-payment" class="btn btn-warning btn-block" type="submit" value="Complete Transaction">
					</div>
				</form>

				
			</div>
			<div class= "container">
			<div class = "hidden" id="cart-empty">
				<br>
				<h4>Your Cart is Empty</h4>

			</div>
			</div>
			<br>
		
		</div>
		
		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{%for item in items%}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{ item.product.image.url }}"></div>
					<div style="flex:2"><p>{{item.product.artist_name}}</p></div>
					<div style="flex:2"><p>{{item.product.album_name}}</p></div>
					<div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
					<div style="flex:1"><p>x{{item.quantity}}</p></div>
				</div>
				{%endfor%}
				<h5>Items:   {{order.getCartItems}}</h5>
				<h5>Total:   ${{order.getCartTotal|floatformat:2}}</h5>
			</div>
		</div>
	</div>

<script type="text/javascript">
	
	var form = document.getElementById('form')
	var total = '{{order.getCartTotal}}'
	form.addEventListener('submit', function(e){
		e.preventDefault()
		console.log("Form is submitted")
		document.getElementById('form-button').classList.add('hidden')
		document.getElementById('billing-info').classList.remove('hidden')
	})

	document.getElementById('make-payment').addEventListener('click', function(e){
		submitFormData()
	})
	function submitFormData()
	{	
		var shippingInfo = {
			'address' : null,
			'city' 	: null,
			'state' : null,
			'zipcode' : null,
			'country' : null

		}
		var billingInfo ={
			'CardNo' : null,
			'ownerName' 	: null,
			'CVV' : null,
			'ExpirationDate' : null	
		}
		if(user != 'AnonymousUser' && total != 0 )
		{
		shippingInfo.address = form.address.value
		shippingInfo.city = form.city.value
		shippingInfo.state = form.state.value
		shippingInfo.zipcode = form.zipcode.value
		shippingInfo.country = form.country.value

		billingInfo.CardNo = form.CardNo.value
		billingInfo.ownerName = form.ownerName.value
		billingInfo.CVV = form.CVV.value
		billingInfo.ExpirationDate = form.ExpirationDate.value

		}
		var url = '/process_payment/'

		fetch(url, {
			method: 'POST',
			headers : {
				'Content-Type' : 'application/json',
				'X-CSRFToken' : csrftoken,

			},
			body:JSON.stringify({'shippingForm': shippingInfo, 'billingForm': billingInfo }),
			})
			.then((response) => response.json())
			.then((data) => {
				console.log('Success: ', data);
				window.location.href = "{% url 'success' %}"
			})
	
		
		console.log("Payment button is clicked")

	}
	if (user == "AnonymousUser")
	{	
		document.getElementById('not-loggedin').classList.remove('hidden')
		document.getElementById('form').classList.add('hidden')
	}
	else if (user != "AnonymousUser" && total == 0)
	{	
		document.getElementById('form').classList.add('hidden')
		document.getElementById('cart-empty').classList.remove('hidden')
	}
</script>
{% endblock content %}