{% extends 'store/main.html' %}
{% include "register.html" %}
{% load static %}
{% block content %}
<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <link rel='stylesheet' type='text/css' media='screen'  href="{% static 'css/main.css' %}">
</head>

    <!--Section: Block Content-->
<section class="mb-5">

  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">
        
        <img class="img-thumbnail" src= "{{product.image.url}}" >
        






    </div>
    <div class="col-md-6">

      <h4>{{product.album_name}}</h4>
      <p class="mb-2 text-muted text-uppercase small">{{product.artist_name}}</p>
      <p><span class="mr-1"><strong>${{product.price|floatformat:2}}</strong></span></p>
      <p class="pt-1">{{product.description}}</p>
      <div class="table-responsive">
        <table class="table table-sm table-borderless mb-0">
          <tbody>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Model No</strong></th>
              <td>{{product.model_no}}</td>
            </tr>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Warranty</strong></th>
              <td>{{product.warranty}}</td>
            </tr>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Stock</strong></th>
              <td>{{product.stock}}</td>
            </tr>
            <tr>
                <th class="pl-0 w-25" scope="row"><strong>Distributor</strong></th>
                <td>{{product.distributor}}</td>
              </tr>
              
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              
          </tbody>
        </table>
      </div>
      <hr>
      <button data-product= {{product.id}} data-action= "add" data-stock={{product.stock}} class = "btn btn-outline-warning add-btn update-cart">Add to Cart</button>




  
      
  </div>




</section>



<div  class="container">
  <div class="row bootstrap snippets bootdeys">
      <div class="col-md-8 col-sm-12">
          <div class="comment-wrapper">
              <div class="panel panel-info">
                  <div class="panel-heading">
                     
                  </div>
                  <div class="panel-body">
                    {% if user.is_authenticated %}
                    Comment Panel
                    <form id = 'form' action = "/add-comment/" method='POST' >
                      {% csrf_token %}
                      <textarea name = "userComment" class="form-control" placeholder="write a comment..." rows="3"></textarea>
                      <input name= "product" type = "hidden" value = {{product.id}}>
                      <button id = "submitForm" data- type="submit" class="btn btn-warning pull-right">Post</button>

                    </form>
                    {% else %}
                    <b>You must be a <a href = "/register/">user</a> to comment.</b>
                    {% endif %}
                      <br>
                      <div class="clearfix"></div>
                      <hr>
                      {%if not product.comments.all %}
                        No comments yet... <br>
                        Be the first to comment!
                        <br><br><br>
                      {% else %} 
                      {% for comment in product.comments.all %}
                        {% if comment.approval == 2 %}
                      <ul class="media-list">
                          <li class="media">               
                              <div class="media-body">
                                  <span class="text-muted pull-right">
                                      <small class="text-muted">{{comment.date_added}}</small>
                                  </span>
                                  <strong class="text-success">{{comment.user.first_name}} {{comment.user.last_name}} </strong>
                                  <p>
                                      {{comment.body}}
                                  </p>
                              </div>
                          </li>
                      </ul>
                      <br>
                        {%endif%}
                      {% endfor %}
                    {% endif %}
                  </div>
              </div>
          </div>
  
      </div>
  </div>
  </div>
<!--Section: Block Content-->


{% endblock %}