{% extends 'store/main.html' %}
{% load static %}
{%block content%}



<div class="container">
    <div class="row">
        <div class="col-md">
                <h3>Account Details</h3>
                <br>
        </div>
    </div>

    <div class="row">    
        <div class="col-md-4">
            <div class="card card-body">

                <h4>Welcome Back to PLAQ,</h4>
                <b> Name: </b>
                <p>{{user.get_full_name}}</p>

                <b> Email: </b>
                <p>{{user.email}}</p>
                
                <div class = 'col-md-8'>
                
                        <a href='/profile' class="btn btn-block" role="button" aria-pressed="true">View Past Orders</a><br>
                        
                        <a href='#' class="btn btn-block" role="button" aria-pressed="true">Edit Account Information</a><br>
                                
                        <a href='/logout' class="btn btn-block" role="button" aria-pressed="true">Logout</a><br>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card card-body">
                <table class="table table-sm">
                    <h4>Total Orders: # </h4>
                    <hr>
                    {% for order in orders %}

                    <tr>
                        <td>{{order.product}}</td>
                        <td>{{order.note}}</td>
                        <td>{{order.date_created}}</td>
                        <td>{{order.status}}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
            </div>
        </div>
    </div>

    <br>

</div>
{%endblock%}