{% extends "store/main.html" %}

{% block title %}
Login Here
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <h1 style="color: orange;">Are You Ready For Some Great Music ?</h1>
  <hr style="color: orange;height: 2px;">
  <div class="row align-items-center">
    <div class="col align-self-start">
      
    </div>
    <div class="col align-self-center">
     	<form method="post" class="from-group">
			{% csrf_token %}
			{{form|crispy}}
      <br>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-warning">Log In</button>     
      </div>
			<hr style="background-color:orange;height: 2px">  
      <div class="d-flex justify-content-center">
        <a href="/password-reset" class="btn btn-warning" role="button" aria-pressed="true">Forgot My Password</a>
      </div>
      <hr style="background-color:orange;height: 2px">
      <div class="d-flex justify-content-center">
		  	<p>Not a Pwacker yet? Sign up <a href="/register", style="color: DeepSkyBlue">here</a></p>
      </div>
		</form>	
    </div>
    <div class="col align-self-end">
    
    </div>
  </div>
</div>
	
{% endblock %}