{% extends "store/main.html" %}

{% block title %}
Password Reset
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <h1 style="color: orange;">Password Recovery</h1>
  <hr style="color: orange;height: 2px;">
  <div class="row align-items-center">
    <div class="col align-self-start">
    </div>
    <div class="col align-self-center">
     	<form method="post" class="from-group">
			{% csrf_token %}
			{{form|crispy}}
      <br>
			<button type="submit" class="btn btn-warning">Request Password Recovery</button>
		</form>
    </div>
    <div class="col align-self-end">
    
    </div>
  </div>
</div>
	
{% endblock %}	


