{% extends "store/main.html" %}

{% block title %}
Password Reset Done
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1 style="color: orange;">Success</h1>
    <hr style="color: orange;height: 2px;">
    <br>
    <div class="alert alert-info">
        <p>Password Recovery Information Has Been Sent to Your E-mail!</p>
        <p>If your e-mail is registered with us you will shortly receive an e-mail regarding password recovery.</p>
    </div>
</div>
{% endblock %}