{% extends "store/main.html" %}

{% block title %}
Password Reset
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <h1 style="color: orange;">Password Change Successful</h1>
  <hr style="color: orange;height: 2px;">
  <div class="row align-items-center">
    <div class="col align-self-start">
    </div>
        <br>
        <div class=" d-flex justify-content-center">
            <h4> You have successfully changed your account password!</h4>
            
        </div>
        <br><br><br><br>
            <hr style="background-color:orange;height: 2px">
        <div class="d-flex justify-content-center">
            <a href="/login" class="btn btn-warning" role="button" aria-pressed="true">Sign In Here</a>
        </div>
    <div class="col align-self-end">
    </div>
  </div>
</div>
	
{% endblock %}