
{% extends 'main/base.html' %}
{% load static %}
{%block content%}
<div class="container">
	<div class= "row justify-content-center">
		<div class="col-4">
			
			

			
		</div>
		<div class="col align-self-center">
			
		
			<div class= "container">
				<img alt= "icon" class="img-fluid " src="{% static 'images/duck.jpeg' %}">
				<div class="justify-content-center">
				 	<p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Sign Up or Log in </p>
					 <div class=" d-flex justify-content-center">
					 	 <button href="#" type="button" class="btn btn-warning">Sign up</button>
					 	  &nbsp
					 	 <button href="#" type="button" class="btn btn-warning">Log in</button>
					 </div>
				
				</div>
				
			</div>

			
		</div>
		<div class="col-4">
			
			

			
		</div>
		
	</div>
	<div class= "row justify-content-center">
		<div class="col-5">
			
			

			
		</div>
		<div class="col-5">
			
		
			

			
		</div>
		<div class="col-2">
			
			

			
		</div>
	</div> 
</div>
{%endblock%}